

.parent2 {
    width: 100%;
    /* background-color: rgb(222, 230, 222); */
    display: flex;
    justify-content: space-evenly;
    /* margin-top: 2.5rem; */
    box-shadow: 0 0 1rem  rgb(184, 152, 93);

    /* gap: 8rem; */

}



.left2 {
    margin: 5rem;
    margin-left: 15rem;
    text-align: center;
    margin-top: 10rem;
}

.left2 h1 {
    /* background-color: azure; */
    /* width: 10rem; */
    /* padding: 2rem; */
    width: 10rem;
    color :  rgb(184, 152, 93);
    font-size: 2.1rem;
    margin-top: -9rem;
    margin-left: 2.5rem;
}

.left2 .circle {
    background-color: rgb(222, 230, 222);
    width: 15rem;
    height: 15rem;
    border-radius: 10rem;
    margin-top: -4rem;
    border: 0.5rem solid rgb(181, 185, 181);

}

.right2 {
    margin: 5rem;
}

.right2 p {
    background-color: azure;
    color: rgb(45, 54, 44);
    padding: 2rem;
    height: 17rem;
    text-align: center;
    border: 1rem solid  rgb(222, 230, 222);
}

button.bio {
    border-radius: 1.2rem;
    font-size: 1.2rem;
}

